$left-space: 180px;
$top-height: 60px;

header {
  display: block;
  width: 100%;
  height: $top-height;
  margin: 0;
  background-repeat: repeat-x;
  position: fixed;
  z-index: 905;
}

aside {
  width: $left-space;
  @include widthChangeTranslation();

  left: 0;
  z-index: 904;
  display: block;
  min-height: 100%;
  height: 100%;
  top: $top-height;
  position: fixed;
  overflow: hidden;
}

main {
  margin-left: $left-space;
  padding: 66px 0 34px 0;
  min-height: 500px;
}

footer {
  height: 34px;
  padding: 0 18px 0 $left-space;
  width: 100%;
  position: absolute;
  display: block;
  bottom: 0;
}

//收缩或者
@mixin layout-collapsed() {
  main {
    margin-left: 50px;
  }
  footer {
    padding-left: 50px
  }
}

@mixin aside-collapsed(){
  aside {
    width: 50px;
    @include widthChangeTranslation();
  }
}


//resolution adapter

@media (min-width: $resXXL) {
  .menu-collapsed {
    @include layout-collapsed();
    @include aside-collapsed();
  }
}

@media (max-width: $resXXL) and (min-width: $resXS) {
  @include layout-collapsed();
  .menu-collapsed{
    @include aside-collapsed();
  }
}

@media (max-width: $resXS) {
  .menu-collapsed aside{
    width: 0;
    @include widthChangeTranslation();
  }
  main {
    margin-left: 0;
  }
  footer {
    padding-left: 0;
  }
}
