@import "../../sass/common";
@import "../layout";

.auth-block{
  width: 520px;
  margin: 0 auto;
  border-radius: 5px;
  @include bg-translucent-dark(0.55);
  color: #fff;

  padding: 32px 62px;
  @media screen and (max-width : 420px ) {
    padding: 32px;
  }

  h1 {
    font-weight: $font-light;
    margin-bottom: 28px;
    text-align: center;
  }
  .row-sign {
    float:left;
    width: 20px;
    height: 20px;
  }
  .may-checkbox{
    margin-left: 15px;
  }
  .submit-btn{
    background: none;
    border:1px solid $default-text;
  }


}

//重写bootstrap class
.form-control, .form-control:focus {
  @include placeholderStyle(#ddd, 0.5);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  color: $default-text;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  @include placeholderStyle(#ddd, 0.6);
  border: 1px solid $input-border;
}
.input-group-addon{
  background: none;
}
.fa{
  color: $default-icon-color;
}

