aside {
  background-color: $sidebar;
}

.sidebar_main_list {
  padding-top: 18px;
}

.sidebar_item {
  position: relative;

  &.expanded{
    .sidebar_dropdown_icon{
      transform: rotate(180deg);
    }
    .sidebar_item_sublist{
      display: block;
    }
  }



}

.sidebar_item_link {
  display: block;
  height: 42px;
  padding-left: 18px;
  text-shadow: none;
  font-size: 13px;
  text-decoration: none;
  color: $sidebar-text;
  line-height: 42px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  &:hover {
    color: $primary;
  }
  &.selected{
    background-color:  $primary;
    color: $sidebar-text;
  }


}

.sidebar_item_icon {
  margin-right: 18px;
  width: 16px;
}

.sidebar_dropdown_icon {
  width: 14px;
  height: 14px;
  line-height: 14px;
  text-shadow: none;
  font-size: 18px;
  position: absolute;
  right: 10px;
  top: 12px;
  transition: transform 0.2s linear;

}

.sidebar_item_sublist{
  display: none;
  .sidebar_item_link{
    height: 29px;
    line-height: 29px;
  }
}
