.swim-step{
  width: 55%;
  margin: 50px auto;
}

.swim-remark{
  height: 100px;
  resize: none;
}

.swim-step{
  .rdt{
    width: 100%;
    color: #000000;
    .form-control{
      width: 100%;
    }
    th,tr,td{
      vertical-align: middle;
    }
  }
  .help-info{
    color: $color-red;
    margin: 3px 0 10px;
    font-size: 12px;
  }
}

