.swim-step{
  width: 55%;
  margin: 50px auto;
}
.swim-table-step{
  width: 75%;
  margin: 50px auto;
  overflow: auto;
}
@media (max-width: 980px) {
  .swim-table-step{
    width: 100%;
  }
}

.swim-remark{
  &.form-control{
    height: 100px;
  }
  resize: none;
}

.swim-step{
  .rdt{
    width: 100%;
    color: #000000;
    .form-control{
      width: 100%;
    }
    th,tr,td{
      vertical-align: middle;
    }
  }
  .help-info{
    color: $color-red;
    margin: 3px 0 10px;
    font-size: 12px;
  }
  .rdtPicker{
    top: 34px;
  }
}
.react-bs-table{
  min-width: 600px;
}

