<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 命名空间 （实体类的别名，写了之后可以在写Sql配置文件直接使用别名）-->
	<!-- <typeAliases>
		<typeAlias alias="User" type="com.jeemaa.user.model.User" />
	</typeAliases> -->


	 <plugins>
        <plugin interceptor="com.ue.jeemaa.cloud.util.PagePlugin">
            <property name="dialect" value="mysql" />
            <property name="pageSqlId" value=".*ListPage.*" />
        </plugin>
    </plugins>

	<!-- 手动配置映射map(目前使用扫描方式) -->
	<mappers>
		<!-- 手动配置映射map -->
		<!-- <mapper resource="/com/jeemaa/user/service/impl/UserMapper.xml" /> -->
	</mappers>
	
	 
</configuration>