<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.may.user.dao.IUserDAO">
    <resultMap type="User" id="userResultMap">
        <id property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="userEmail" column="user_email"/>
        <result property="userPsd" column="user_psd"/>
        <result property="userNickName" column="user_nick_name"/>
        <result property="userCreateTime" column="user_create_time"/>
    </resultMap>

    <!-- 根据 userName 和 password 查询 user -->
    <select id="getUserByNameAndPsd" resultType="User" resultMap="userResultMap">
        <![CDATA[
            SELECT * FROM t_user
                WHERE user_name = #{userName} AND user_psd = #{userPsd}
        ]]>
    </select>

    <!-- 根据 userName 查询 user -->
    <select id="getUserByName" resultType="User" resultMap="userResultMap">
        <![CDATA[
            SELECT * FROM t_user
                WHERE user_name = #{userName}
        ]]>
    </select>


    <insert id="insertUser" parameterType="User">
        <![CDATA[
            INSERT INTO t_user(user_id,user_name,user_psd,user_email,user_nick_name,user_create_time)
                VALUES (#{userId},#{userName},#{userPsd},#{userEmail},#{userNickName},#{userCreateTime})
        ]]>
    </insert>

    <update id="updateUser" parameterType="User">
        UPDATE t_user SET user_psd = #{userPsd}, user_email = #{userEmail} WHERE user_id = #{userId}
    </update>

    <delete id="deleteUser" parameterType="String" >
        DELETE FROM t_user WHERE user_id = #{userId}
    </delete>
</mapper>