@import "../sass/common";

html {
  min-height: 520px;
  height: 100%;
}

body {
  @include main-background('blur-bg.jpg');
  height: 100%;
  &::placeholder{
    color: #7d7d7d;
    opacity: 0.5;
  }
}

.main{
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}


